{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "echo ${nextRelease.version} > version.txt"
      }
    ]
  ]
}
