[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
great-expectations = ">=0.15.0"
geopandas = ">=0.10.0"
pandas = ">=1.3.0"
psycopg2-binary = ">=2.9.0"
slack-sdk = ">=3.0.0"

[dev-packages]

[requires]
python_version = "3.11"
