[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
requests = "*"
pandas = "*"
geopandas = "*"
shapely = "*"
matplotlib = "*"
rasterio = "*"
scikit-learn = "*"
mapclassify = "*"
black = "*"
fiona = "*"
esridump = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
geoalchemy2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
