@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~mapbox-gl/dist/mapbox-gl.css";

@font-face {
  font-family: "HK Grotesk";
  src: url("/fonts/hkgrotesk-bold-webfont.woff2") format("woff2"),
    url("/fonts/hkgrotesk-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/fonts/hkgrotesk-extrabold-webfont.woff2") format("woff2"),
    url("/fonts/hkgrotesk-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/fonts/hkgrotesk-regular-webfont.woff2") format("woff2"),
    url("/fonts/hkgrotesk-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    @apply font-body;
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  /* Fallback variables for browsers that don't support clamp */
  @supports (font-size: clamp(1rem, 1vw, 1rem)) {
    :root {
      --font-size-sm: clamp(0.89rem, -0.22vw + 0.94rem, 0.77rem);
      --font-size-md: clamp(1rem, 0vw + 1rem, 1rem);
      --font-size-lg: clamp(1.13rem, 0.32vw + 1.05rem, 1.3rem);
      --font-size-xl: clamp(1.27rem, 0.77vw + 1.07rem, 1.69rem);
      --font-size-2xl: clamp(1.42rem, 1.41vw + 1.07rem, 2.2rem);
      --font-size-3xl: clamp(1.6rem, 2.28vw + 1.03rem, 2.86rem);
    }
  }
  /* Fallback variables for browsers that don't support clamp */
  @supports not (font-size: clamp(1rem, 1vw, 1rem)) {
    :root {
      --font-size-sm: 0.89rem;
      --font-size-md: 1rem;
      --font-size-lg: 1.13rem;
      --font-size-xl: 1.27rem;
      --font-size-2xl: 1.42rem;
      --font-size-3xl: 1.6rem;
    }
    @media screen and (min-width: 1280px) {
      :root {
        --font-size-sm: 0.77rem;
        --font-size-md: 1rem;
        --font-size-lg: 1.3rem;
        --font-size-xl: 1.69rem;
        --font-size-2xl: 2.2rem;
        --font-size-3xl: 2.86rem;
      }
    }
  }
  .heading-3xl {
    font-size: var(--font-size-3xl);
    font-family: var(--font-family);
    font-weight: 800;
  }
  .heading-2xl {
    font-size: var(--font-size-2xl);
    font-family: var(--font-family);
    font-weight: 800;
  }
  .heading-xl {
    font-size: var(--font-size-xl);
    font-family: var(--font-family);
    font-weight: bold;
  }
  .heading-lg {
    font-size: var(--font-size-lg);
    font-family: var(--font-family);
    font-weight: bold;
  }
  .heading-md {
    font-size: var(--font-size-md);
    font-family: var(--font-family);
    font-weight: bold;
  }
  .body-lg {
    font-size: var(--font-size-lg);
    font-family: var(--font-family);
    font-weight: regular;
  }
  .body-md {
    font-size: var(--font-size-md);
    font-family: var(--font-family);
    font-weight: regular;
  }
  .body-sm {
    font-size: var(--font-size-sm);
    font-family: var(--font-family);
    font-weight: regular;
  }

  a.default {
    @apply underline text-blue hover:text-blue-800 visited:text-purple-600;
  }

  .iconLink {
    @apply text-gray-900;
    @apply items-center;
    @apply items-center;
    @apply active:bg-[#C2F5BA];
    @apply active:text-green-700;
    @apply focus:text-green-700;
    @apply focus:bg-[#E9FFE5];
    @apply bg-color-none;
    @apply hover:bg-gray-10;
    @apply rounded-medium;
    @apply max-sm:hover:bg-[#ffffff];
  }

  .activeIconLinkNav {
    @apply flex;
    @apply relative;
    @apply h-full;
    @apply items-center;
    @apply rounded-medium
    @apply data-[active=true]:bottom-0;
    @apply data-[active=true]:left-0;
    @apply data-[active=true]:right-0;
    @apply data-[active=true]:h-full;
    @apply data-[active=true]:rounded-[12px];
    @apply data-[active=true]:bg-[#E9FFE5];
    @apply data-[active=true]:text-[#E9FFE5];
    @apply data-[active=true]:rounded-medium;
  }
  .mobileIconLinkNav {
    @apply px-0;
    @apply text-base;
    @apply max-h-40;
    @apply overflow-hidden;
    @apply fixed;
    @apply left-2/4;
    @apply top-20;
    @apply w-full;
    @apply z-50;
    @apply shadow-2xl;
    @apply rounded-md;
    @apply border-1;
    @apply border-gray-200;
    @apply bg-gray-0;
  }
  .mobileIconLinkNav:hover {
    @apply bg-gray-0;
  }
}

.customized-map *,
.customized-map .mapboxgl-ctrl-geocoder--input {
  @apply font-body body-md;
}

.mapboxgl-ctrl-legend {
  @apply p-5 w-full;
  padding: 2px;
}

.table-cell {
  @apply p-2 border border-gray-300 text-left font-normal;
}

.link {
  @apply text-[#0070F0] underline;
}

/* Styles for the mapbox legend pane. */
.mapboxgl-ctrl-legend-pane summary {
  font-size: 16px;
  text-transform: capitalize;
}

.mapboxgl-ctrl-legend-pane ul.list li {
  font-size: 14px;
  text-transform: capitalize;
  color: #173009;
}

/* Crude way to hide the last "Other" legend item. */
/* TODO: If we decide to get rid of the default option in the legend, we can remove this */
.mapboxgl-ctrl-legend-pane ul.list li:last-child {
  display: none;
}
/* Remove white background on menu item to display active page state */
a .bg-color-none {
  background-color: none;
}

.active-state-nav {
  color: #0c5c00;
  background-color: #e9ffe5;
  border-radius: 12px;
  justify-content: left;
}

.active-state-nav:hover {
  color: #0c5c00;
  background-color: #c2f5ba;
  border-radius: 12px;
}

/* consolidating styles for filter control tag buttons */
.tagDefault {
  @apply h-6 px-2 py-0.5 body-sm bg-gray-100 text-gray-900;
}

.tagDefault:hover {
  @apply ease-in h-6 bg-gray-200;
}

.tagDefault:active {
  @apply ease-in h-6 bg-gray-300;
}

.tagSelected {
  @apply h-6 px-2 py-0.5 body-sm bg-blue-200 text-blue-800;
}

.tagSelected:hover {
  @apply ease-in h-6 bg-blue-300;
}

.tagSelected:active {
  @apply ease-in h-6 bg-blue-400;
}
