@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~mapbox-gl/dist/mapbox-gl.css';

@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
       url('/fonts/hkgrotesk-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/hkgrotesk-extrabold-webfont.woff2') format('woff2'),
       url('/fonts/hkgrotesk-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk';
  src: url('/fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
       url('/fonts/hkgrotesk-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    @apply font-body;
  }
}

.customized-map *, .customized-map .mapboxgl-ctrl-geocoder--input {
  @apply font-body;
}

.mapboxgl-ctrl-legend {
  @apply p-5 w-full;
  padding: 2px;
}

.table-cell {
  @apply p-2 border border-gray-300 text-left font-normal;
}
