@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'HK Grotesk';
  src:
    url('/fonts/hkgrotesk-bold-webfont.woff2') format('woff2'),
    url('/fonts/hkgrotesk-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk';
  src:
    url('/fonts/hkgrotesk-extrabold-webfont.woff2') format('woff2'),
    url('/fonts/hkgrotesk-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'HK Grotesk';
  src:
    url('/fonts/hkgrotesk-regular-webfont.woff2') format('woff2'),
    url('/fonts/hkgrotesk-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    @apply font-body;
    scroll-behavior: smooth;
    scroll-padding-top: 108px; /* header height + extra padding — allows hashlinks to account for sticky header on scroll */
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  /* Fallback variables for browsers that don't support clamp */
  @supports (font-size: clamp(1rem, 1vw, 1rem)) {
    :root {
      --font-size-sm: clamp(0.89rem, -0.22vw + 0.94rem, 0.77rem);
      --font-size-md: clamp(1rem, 0vw + 1rem, 1rem);
      --font-size-lg: clamp(1.13rem, 0.32vw + 1.05rem, 1.3rem);
      --font-size-xl: clamp(1.27rem, 0.77vw + 1.07rem, 1.69rem);
      --font-size-2xl: clamp(1.42rem, 1.41vw + 1.07rem, 2.2rem);
      --font-size-3xl: clamp(1.6rem, 2.28vw + 1.03rem, 2.86rem);
    }
  }
  /* Fallback variables for browsers that don't support clamp */
  @supports not (font-size: clamp(1rem, 1vw, 1rem)) {
    :root {
      --font-size-sm: 0.89rem;
      --font-size-md: 1rem;
      --font-size-lg: 1.13rem;
      --font-size-xl: 1.27rem;
      --font-size-2xl: 1.42rem;
      --font-size-3xl: 1.6rem;
    }
    @media screen and (min-width: 1280px) {
      :root {
        --font-size-sm: 0.77rem;
        --font-size-md: 1rem;
        --font-size-lg: 1.3rem;
        --font-size-xl: 1.69rem;
        --font-size-2xl: 2.2rem;
        --font-size-3xl: 2.86rem;
      }
    }
  }
  .heading-3xl {
    font-size: var(--font-size-3xl);
    font-family: var(--font-family);
    font-weight: 800;
  }
  .heading-2xl {
    font-size: var(--font-size-2xl);
    font-family: var(--font-family);
    font-weight: 800;
  }
  .heading-xl {
    font-size: var(--font-size-xl);
    font-family: var(--font-family);
    font-weight: bold;
  }
  .heading-lg {
    font-size: var(--font-size-lg);
    font-family: var(--font-family);
    font-weight: bold;
  }
  .heading-md {
    font-size: var(--font-size-md);
    font-family: var(--font-family);
    font-weight: bold;
  }
  .body-lg {
    font-size: var(--font-size-lg);
    font-family: var(--font-family);
    font-weight: regular;
  }
  .body-md {
    font-size: var(--font-size-md);
    font-family: var(--font-family);
    font-weight: regular;
  }
  .body-sm {
    font-size: var(--font-size-sm);
    font-family: var(--font-family);
    font-weight: regular;
  }

  ol.methodology {
    list-style: decimal;
    /* font-weight: 700; */
    /* list-style-position: inside; */
    margin-left: 20px;
  }

  ol li::marker {
    font-weight: 700;
  }

  a.default {
    @apply underline text-blue hover:text-blue-800 visited:text-purple-600;
  }

  /* added webkit transform to remove icon movement in safari */

  .iconLink {
    @apply text-gray-900 items-center active:bg-gray-100 active:text-green-700 focus:text-green-700 focus:bg-green-100 bg-color-none hover:bg-gray-10 rounded-medium;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }

  .linkIcon {
    @apply mr-2;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }

  .iconButton {
    @apply h-6 w-6;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }

  .iconButton-w-5 {
    @apply h-5 w-5;
    -webkit-transform: translateZ(0);
  }

  .activeIconLinkNav {
    @apply flex relative h-full items-center rounded-medium;
    @apply data-[active=true]:bottom-0 data-[active=true]:left-0 data-[active=true]:right-0 data-[active=true]:h-full data-[active=true]:rounded-[12px] data-[active=true]:bg-[#E9FFE5] data-[active=true]:text-[#E9FFE5] data-[active=true]:rounded-medium;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }
  .mobileIconLinkNav {
    @apply px-0 text-base max-h-64 overflow-hidden fixed w-full z-50 shadow-2xl rounded-md border-1 border-gray-200 bg-gray-0;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }
  .mobileIconLinkNav:hover {
    @apply bg-gray-0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.customized-map *,
.customized-map .mapboxgl-ctrl-geocoder--input {
  @apply font-body body-md;
}

.mapboxgl-ctrl-legend {
  @apply p-5 w-full;
  padding: 2px;
}

#main .maplibregl-ctrl-bottom-left {
  left: 10px;
  padding-bottom: 10px;
  pointer-events: bounding-box;
}

.link {
  @apply text-blue-900 underline;
}

/* Styles for the mapbox legend pane. */
.mapboxgl-ctrl-legend-pane summary {
  font-size: 16px;
  text-transform: capitalize;
}

.mapboxgl-ctrl-legend-pane ul.list li {
  font-size: 14px;
  text-transform: capitalize;
  color: #173009;
}

/* Crude way to hide the last "Other" legend item. */
/* TODO: If we decide to get rid of the default option in the legend, we can remove this */
.mapboxgl-ctrl-legend-pane ul.list li:last-child {
  display: none;
}

/* shift map search bar down and to the left 20px */

#main .maplibregl-ctrl-top-right {
  top: 20px;
  right: 20px;
  pointer-events: bounding-box;
}

/* Remove white background on menu item to display active page state */
a .bg-color-none {
  background-color: none;
}

.active-state-nav {
  color: #0c5c00;
  background-color: #e9ffe5;
  border-radius: 12px;
  justify-content: left;
}

.active-state-nav:hover {
  color: #0c5c00;
  background-color: #c2f5ba;
  border-radius: 12px;
}

/* consolidating styles for filter control tag buttons */
.tagDefault {
  @apply h-6 px-2 py-0.5 body-sm bg-gray-100 text-gray-900;
}

.tagDefault:hover {
  @apply ease-in h-6 bg-gray-200;
}

.tagDefault:active {
  @apply ease-in h-6 bg-gray-300;
}

.tagSelected {
  @apply h-6 px-2 py-0.5 body-sm bg-blue-200 text-blue-800;
}

.tagSelected:hover {
  @apply ease-in h-6 bg-blue-300;
}

.tagSelected:active {
  @apply ease-in h-6 bg-blue-400;
}

.multiSelect {
  @apply bg-gray-100;
}

.multiSelectItem {
  @apply pl-3 py-2;
}

.multiSelectItem:hover {
  @apply bg-gray-200;
}

.multiSelectChip {
  @apply bg-blue-200 text-blue-800;
}

.multiSelectChip:hover {
  @apply bg-blue-300;
}

.panelDefault {
  @apply flex flex-row items-center rounded-md p-3 space-x-3 bg-gray-100 text-gray-900;
}

.panelDefault:hover {
  @apply ease-out bg-gray-200;
}

.panelDefault:active {
  @apply ease-in bg-gray-300;
}

.panelSelected {
  @apply flex flex-row items-center rounded-md p-3 space-x-3 bg-blue-200 text-blue-800;
}

.panelSelected:hover {
  @apply ease-out bg-blue-300;
}

.panelSelected:active {
  @apply ease-in bg-blue-400;
}

/* Centers the properties for small screens only, tailwind breakpoint */
@media screen and (max-width: 639px) {
  .side-panel-container {
    scrollbar-gutter: stable both-edges;
  }
}

/* Style override for map controls */
.maplibregl-ctrl button.maplibregl-ctrl-geolocate,
.maplibregl-ctrl button.maplibregl-ctrl-zoom-in,
.maplibregl-ctrl button.maplibregl-ctrl-zoom-out,
.maplibregl-ctrl button.custom-legend-info {
  border-radius: 0.25em;
  height: 40px;
  width: 40px;
}

/* Can't override without !important, would ideally do it some other way */
.maplibregl-ctrl button.maplibregl-ctrl-geolocate .maplibregl-ctrl-icon {
  background-image: url('data:image/svg+xml,<svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.125 9.09961H16.4734C16.3235 7.33355 15.5538 5.67742 14.3005 4.42414C13.0472 3.17085 11.3911 2.40115 9.625 2.25117V1.59961C9.625 1.43385 9.55915 1.27488 9.44194 1.15767C9.32473 1.04046 9.16576 0.974609 9 0.974609C8.83424 0.974609 8.67527 1.04046 8.55806 1.15767C8.44085 1.27488 8.375 1.43385 8.375 1.59961V2.25117C6.60894 2.40115 4.95282 3.17085 3.69953 4.42414C2.44624 5.67742 1.67654 7.33355 1.52656 9.09961H0.875C0.70924 9.09961 0.550268 9.16546 0.433058 9.28267C0.315848 9.39988 0.25 9.55885 0.25 9.72461C0.25 9.89037 0.315848 10.0493 0.433058 10.1666C0.550268 10.2838 0.70924 10.3496 0.875 10.3496H1.52656C1.67654 12.1157 2.44624 13.7718 3.69953 15.0251C4.95282 16.2784 6.60894 17.0481 8.375 17.198V17.8496C8.375 18.0154 8.44085 18.1743 8.55806 18.2916C8.67527 18.4088 8.83424 18.4746 9 18.4746C9.16576 18.4746 9.32473 18.4088 9.44194 18.2916C9.55915 18.1743 9.625 18.0154 9.625 17.8496V17.198C11.3911 17.0481 13.0472 16.2784 14.3005 15.0251C15.5538 13.7718 16.3235 12.1157 16.4734 10.3496H17.125C17.2908 10.3496 17.4497 10.2838 17.5669 10.1666C17.6842 10.0493 17.75 9.89037 17.75 9.72461C17.75 9.55885 17.6842 9.39988 17.5669 9.28267C17.4497 9.16546 17.2908 9.09961 17.125 9.09961ZM9.625 15.9434V15.3496C9.625 15.1838 9.55915 15.0249 9.44194 14.9077C9.32473 14.7905 9.16576 14.7246 9 14.7246C8.83424 14.7246 8.67527 14.7905 8.55806 14.9077C8.44085 15.0249 8.375 15.1838 8.375 15.3496V15.9434C6.94131 15.7971 5.60196 15.1607 4.58292 14.1417C3.56388 13.1227 2.92754 11.7833 2.78125 10.3496H3.375C3.54076 10.3496 3.69973 10.2838 3.81694 10.1666C3.93415 10.0493 4 9.89037 4 9.72461C4 9.55885 3.93415 9.39988 3.81694 9.28267C3.69973 9.16546 3.54076 9.09961 3.375 9.09961H2.78125C2.92754 7.66592 3.56388 6.32657 4.58292 5.30753C5.60196 4.28849 6.94131 3.65215 8.375 3.50586V4.09961C8.375 4.26537 8.44085 4.42434 8.55806 4.54155C8.67527 4.65876 8.83424 4.72461 9 4.72461C9.16576 4.72461 9.32473 4.65876 9.44194 4.54155C9.55915 4.42434 9.625 4.26537 9.625 4.09961V3.50586C11.0587 3.65215 12.398 4.28849 13.4171 5.30753C14.4361 6.32657 15.0725 7.66592 15.2188 9.09961H14.625C14.4592 9.09961 14.3003 9.16546 14.1831 9.28267C14.0658 9.39988 14 9.55885 14 9.72461C14 9.89037 14.0658 10.0493 14.1831 10.1666C14.3003 10.2838 14.4592 10.3496 14.625 10.3496H15.2188C15.0725 11.7833 14.4361 13.1227 13.4171 14.1417C12.398 15.1607 11.0587 15.7971 9.625 15.9434ZM9 6.59961C8.38193 6.59961 7.77775 6.78289 7.26384 7.12627C6.74994 7.46965 6.3494 7.9577 6.11288 8.52872C5.87635 9.09974 5.81447 9.72808 5.93505 10.3343C6.05562 10.9405 6.35325 11.4973 6.79029 11.9343C7.22733 12.3714 7.78415 12.669 8.39034 12.7896C8.99653 12.9101 9.62487 12.8483 10.1959 12.6117C10.7669 12.3752 11.255 11.9747 11.5983 11.4608C11.9417 10.9469 12.125 10.3427 12.125 9.72461C12.125 8.89581 11.7958 8.10095 11.2097 7.5149C10.6237 6.92885 9.8288 6.59961 9 6.59961ZM9 11.5996C8.62916 11.5996 8.26665 11.4896 7.95831 11.2836C7.64996 11.0776 7.40964 10.7848 7.26773 10.4421C7.12581 10.0995 7.08868 9.72253 7.16103 9.35882C7.23337 8.9951 7.41195 8.66101 7.67417 8.39878C7.9364 8.13656 8.27049 7.95798 8.63421 7.88564C8.99792 7.81329 9.37492 7.85042 9.71753 7.99234C10.0601 8.13425 10.353 8.37457 10.559 8.68292C10.765 8.99126 10.875 9.35377 10.875 9.72461C10.875 10.2219 10.6775 10.6988 10.3258 11.0504C9.97419 11.4021 9.49728 11.5996 9 11.5996Z" fill="%23173009"/></svg>') !important;
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-in .maplibregl-ctrl-icon {
  background-image: url('data:image/svg+xml,<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5 10.7246C17.5 10.8904 17.4342 11.0493 17.3169 11.1666C17.1997 11.2838 17.0408 11.3496 16.875 11.3496H10.625V17.5996C10.625 17.7654 10.5592 17.9243 10.4419 18.0416C10.3247 18.1588 10.1658 18.2246 10 18.2246C9.83424 18.2246 9.67527 18.1588 9.55806 18.0416C9.44085 17.9243 9.375 17.7654 9.375 17.5996V11.3496H3.125C2.95924 11.3496 2.80027 11.2838 2.68306 11.1666C2.56585 11.0493 2.5 10.8904 2.5 10.7246C2.5 10.5588 2.56585 10.3999 2.68306 10.2827C2.80027 10.1655 2.95924 10.0996 3.125 10.0996H9.375V3.84961C9.375 3.68385 9.44085 3.52488 9.55806 3.40767C9.67527 3.29046 9.83424 3.22461 10 3.22461C10.1658 3.22461 10.3247 3.29046 10.4419 3.40767C10.5592 3.52488 10.625 3.68385 10.625 3.84961V10.0996H16.875C17.0408 10.0996 17.1997 10.1655 17.3169 10.2827C17.4342 10.3999 17.5 10.5588 17.5 10.7246Z" fill="%2303141B"/></svg>') !important;
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-out .maplibregl-ctrl-icon {
  background-image: url('data:image/svg+xml,<svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 0.724609C15.5 0.89037 15.4342 1.04934 15.3169 1.16655C15.1997 1.28376 15.0408 1.34961 14.875 1.34961H1.125C0.95924 1.34961 0.800269 1.28376 0.683058 1.16655C0.565848 1.04934 0.5 0.89037 0.5 0.724609C0.5 0.558849 0.565848 0.399878 0.683058 0.282668C0.800269 0.165458 0.95924 0.0996094 1.125 0.0996094H14.875C15.0408 0.0996094 15.1997 0.165458 15.3169 0.282668C15.4342 0.399878 15.5 0.558849 15.5 0.724609Z" fill="%2303141B"/></svg>') !important;
}

.custom-legend-info-div {
  top: 82%;
  @apply left-7 fixed;
}

.custom-legend-info-icon {
  background-image: url('data:image/svg+xml,<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 0.875C7.39303 0.875 5.82214 1.35152 4.486 2.24431C3.14985 3.1371 2.10844 4.40605 1.49348 5.8907C0.87852 7.37535 0.717618 9.00901 1.03112 10.5851C1.34463 12.1612 2.11846 13.6089 3.25476 14.7452C4.39106 15.8815 5.8388 16.6554 7.4149 16.9689C8.99099 17.2824 10.6247 17.1215 12.1093 16.5065C13.594 15.8916 14.8629 14.8502 15.7557 13.514C16.6485 12.1779 17.125 10.607 17.125 9C17.1227 6.84581 16.266 4.78051 14.7427 3.25727C13.2195 1.73403 11.1542 0.877275 9 0.875ZM9 15.875C7.64026 15.875 6.31105 15.4718 5.18046 14.7164C4.04987 13.9609 3.16868 12.8872 2.64833 11.6309C2.12798 10.3747 1.99183 8.99237 2.2571 7.65875C2.52238 6.32513 3.17716 5.10013 4.13864 4.13864C5.10013 3.17716 6.32514 2.52237 7.65876 2.2571C8.99238 1.99183 10.3747 2.12798 11.631 2.64833C12.8872 3.16868 13.9609 4.04987 14.7164 5.18045C15.4718 6.31104 15.875 7.64025 15.875 9C15.8729 10.8227 15.1479 12.5702 13.8591 13.8591C12.5702 15.1479 10.8227 15.8729 9 15.875ZM10.25 12.75C10.25 12.9158 10.1842 13.0747 10.0669 13.1919C9.94974 13.3092 9.79076 13.375 9.625 13.375C9.29348 13.375 8.97554 13.2433 8.74112 13.0089C8.5067 12.7745 8.375 12.4565 8.375 12.125V9C8.20924 9 8.05027 8.93415 7.93306 8.81694C7.81585 8.69973 7.75 8.54076 7.75 8.375C7.75 8.20924 7.81585 8.05027 7.93306 7.93306C8.05027 7.81585 8.20924 7.75 8.375 7.75C8.70652 7.75 9.02447 7.8817 9.25889 8.11612C9.49331 8.35054 9.625 8.66848 9.625 9V12.125C9.79076 12.125 9.94974 12.1908 10.0669 12.3081C10.1842 12.4253 10.25 12.5842 10.25 12.75ZM7.75 5.5625C7.75 5.37708 7.80499 5.19582 7.908 5.04165C8.01101 4.88748 8.15743 4.76732 8.32874 4.69636C8.50004 4.62541 8.68854 4.60684 8.8704 4.64301C9.05226 4.67919 9.2193 4.76848 9.35042 4.89959C9.48153 5.0307 9.57082 5.19775 9.60699 5.3796C9.64316 5.56146 9.6246 5.74996 9.55364 5.92127C9.48268 6.09257 9.36252 6.23899 9.20835 6.342C9.05418 6.44502 8.87292 6.5 8.6875 6.5C8.43886 6.5 8.20041 6.40123 8.02459 6.22541C7.84878 6.0496 7.75 5.81114 7.75 5.5625Z" fill="%23173009"/></svg>') !important;
}
/* Tooltips for maplibre components, classes style the title attributes */
.maplibregl-ctrl button.maplibregl-ctrl-geolocate[title]:hover::after,
.maplibregl-ctrl button.maplibregl-ctrl-zoom-in[title]:hover::after,
.maplibregl-ctrl button.maplibregl-ctrl-zoom-out[title]:hover::after {
  content: attr(title);
  font-size: 14px;
  padding: 4px 10px;
  width: max-content;
  z-index: 100;
  @apply absolute items-center flex bg-gray-900 rounded-[14px] text-white z-[75];
}

.maplibregl-ctrl button.maplibregl-ctrl-geolocate[title]:hover::after {
  transform: translateX(-102.5%);
  @apply top-1.5;
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-in[title]:hover::after {
  transform: translateX(-105.5%);
  @apply top-1.5;
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-out[title]:hover::after {
  transform: translateX(-105.5%);
  @apply top-[46px];
}

/* styling for the map tooltip */
.customized-map-popup {
  .maplibregl-popup-content {
    border-radius: 14px;
    background-color: #03141b;
    color: white;
    padding: 3px 4px 3px 8px;
  }

  /* swaps the default white tooltip 'point' from white to black,
     but will need to watch for if deafult ever changes from white */
  .maplibregl-popup-tip {
    filter: invert(1);
  }

  .maplibregl-popup-close-button {
    font-size: 24px;
    margin-top: -1px;
    height: 24px;
    width: 24px;
  }
}

@media screen and (max-width: 640px) {
  .maplibregl-ctrl-bottom-right,
  .maplibregl-ctrl-bottom-left {
    position: fixed !important;
  }
  .maplibregl-ctrl-bottom-left {
    bottom: 50px !important;
  }
}
