@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~mapbox-gl/dist/mapbox-gl.css";

@font-face {
  font-family: "HK Grotesk";
  src: url("/fonts/hkgrotesk-bold-webfont.woff2") format("woff2"),
    url("/fonts/hkgrotesk-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/fonts/hkgrotesk-extrabold-webfont.woff2") format("woff2"),
    url("/fonts/hkgrotesk-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src: url("/fonts/hkgrotesk-regular-webfont.woff2") format("woff2"),
    url("/fonts/hkgrotesk-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    @apply font-body;
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  /* Fallback variables for browsers that don't support clamp */
  @supports (font-size: clamp(1rem, 1vw, 1rem)) {
    :root {
      --font-size-sm: clamp(0.89rem, -0.22vw + 0.94rem, 0.77rem);
      --font-size-md: clamp(1rem, 0vw + 1rem, 1rem);
      --font-size-lg: clamp(1.13rem, 0.32vw + 1.05rem, 1.3rem);
      --font-size-xl: clamp(1.27rem, 0.77vw + 1.07rem, 1.69rem);
      --font-size-2xl: clamp(1.42rem, 1.41vw + 1.07rem, 2.2rem);
      --font-size-3xl: clamp(1.6rem, 2.28vw + 1.03rem, 2.86rem);
    }
  }
  /* Fallback variables for browsers that don't support clamp */
  @supports not (font-size: clamp(1rem, 1vw, 1rem)) {
    :root {
      --font-size-sm: 0.89rem;
      --font-size-md: 1rem;
      --font-size-lg: 1.13rem;
      --font-size-xl: 1.27rem;
      --font-size-2xl: 1.42rem;
      --font-size-3xl: 1.6rem;
    }
    @media screen and (min-width: 1280px) {
      :root {
        --font-size-sm: 0.77rem;
        --font-size-md: 1rem;
        --font-size-lg: 1.3rem;
        --font-size-xl: 1.69rem;
        --font-size-2xl: 2.2rem;
        --font-size-3xl: 2.86rem;
      }
    }
  }
  .heading-3xl {
    font-size: var(--font-size-3xl);
    font-family: var(--font-family);
    font-weight: 800;
  }
  .heading-2xl {
    font-size: var(--font-size-2xl);
    font-family: var(--font-family);
    font-weight: 800;
  }
  .heading-xl {
    font-size: var(--font-size-xl);
    font-family: var(--font-family);
    font-weight: bold;
  }
  .heading-lg {
    font-size: var(--font-size-lg);
    font-family: var(--font-family);
    font-weight: bold;
  }
  .heading-md {
    font-size: var(--font-size-md);
    font-family: var(--font-family);
    font-weight: bold;
  }
  .body-lg {
    font-size: var(--font-size-lg);
    font-family: var(--font-family);
    font-weight: regular;
  }
  .body-md {
    font-size: var(--font-size-md);
    font-family: var(--font-family);
    font-weight: regular;
  }
  .body-sm {
    font-size: var(--font-size-sm);
    font-family: var(--font-family);
    font-weight: regular;
  }

  ol.methodology {
    list-style: decimal;
    /* font-weight: 700; */
    /* list-style-position: inside; */
    margin-left: 20px;
  }

  ol li::marker {
    font-weight: 700;
  }

  a.default {
    @apply underline text-blue hover:text-blue-800 visited:text-purple-600;
  }

  /* added webkit transform to remove icon movement in safari */

  .iconLink {
    @apply text-gray-900 items-center items-center active:bg-gray-100 active:text-green-700 focus:text-green-700 focus:bg-green-100 bg-color-none hover:bg-gray-10 rounded-medium max-sm:hover:bg-gray-0;
    -webkit-transform: translateZ(0);
  }

  .linkIcon {
    @apply w-5 h-5 mr-2;
    -webkit-transform: translateZ(0);
  }

  .iconButton {
    @apply h-6 w-6;
    -webkit-transform: translateZ(0);
  }

  .iconButton-w-5 {
    @apply h-5 w-5;
    -webkit-transform: translateZ(0);
  }

  .activeIconLinkNav {
    @apply flex relative h-full items-center rounded-medium;
    @apply data-[active=true]:bottom-0 data-[active=true]:left-0 data-[active=true]:right-0 data-[active=true]:h-full data-[active=true]:rounded-[12px] data-[active=true]:bg-[#E9FFE5] data-[active=true]:text-[#E9FFE5] data-[active=true]:rounded-medium;
    -webkit-transform: translateZ(0);
  }
  .mobileIconLinkNav {
    @apply px-0 text-base max-h-52 overflow-hidden fixed left-2/4 top-20 w-full z-50 shadow-2xl rounded-md border-1 border-gray-200 bg-gray-0;
    -webkit-transform: translateZ(0);
  }
  .mobileIconLinkNav:hover {
    @apply bg-gray-0;
    -webkit-transform: translateZ(0);
  }
}

.customized-map *,
.customized-map .mapboxgl-ctrl-geocoder--input {
  @apply font-body body-md;
}

.mapboxgl-ctrl-legend {
  @apply p-5 w-full;
  padding: 2px;
}

.table-cell {
  @apply p-2 border border-gray-300 text-left font-normal;
}

.link {
  @apply text-[#0070F0] underline;
}

/* Styles for the mapbox legend pane. */
.mapboxgl-ctrl-legend-pane summary {
  font-size: 16px;
  text-transform: capitalize;
}

.mapboxgl-ctrl-legend-pane ul.list li {
  font-size: 14px;
  text-transform: capitalize;
  color: #173009;
}

/* Crude way to hide the last "Other" legend item. */
/* TODO: If we decide to get rid of the default option in the legend, we can remove this */
.mapboxgl-ctrl-legend-pane ul.list li:last-child {
  display: none;
}
/* Remove white background on menu item to display active page state */
a .bg-color-none {
  background-color: none;
}

.active-state-nav {
  color: #0c5c00;
  background-color: #e9ffe5;
  border-radius: 12px;
  justify-content: left;
}

.active-state-nav:hover {
  color: #0c5c00;
  background-color: #c2f5ba;
  border-radius: 12px;
}

/* consolidating styles for filter control tag buttons */
.tagDefault {
  @apply h-6 px-2 py-0.5 body-sm bg-gray-100 text-gray-900;
}

.tagDefault:hover {
  @apply ease-in h-6 bg-gray-200;
}

.tagDefault:active {
  @apply ease-in h-6 bg-gray-300;
}

.tagSelected {
  @apply h-6 px-2 py-0.5 body-sm bg-blue-200 text-blue-800;
}

.tagSelected:hover {
  @apply ease-in h-6 bg-blue-300;
}

.tagSelected:active {
  @apply ease-in h-6 bg-blue-400;
}

/* Space between search bar and sidepanel, especially for small screens */
.mapboxgl-ctrl-geocoder {
  @apply mt-2;
}

/* Centers the properties for small screens only, tailwind breakpoint */
@media screen and (max-width: 639px) {
  .side-panel-container {
    scrollbar-gutter: stable both-edges;
  }
}

/* Style override for map controls */
.maplibregl-ctrl button.maplibregl-ctrl-geolocate,
.maplibregl-ctrl button.maplibregl-ctrl-zoom-in,
.maplibregl-ctrl button.maplibregl-ctrl-zoom-out {
  border-radius: 0.25em;
  height: 40px;
  width: 40px;
}

/* Can't override without !important, would ideally do it some other way */
.maplibregl-ctrl button.maplibregl-ctrl-geolocate .maplibregl-ctrl-icon {
  background-image: url('data:image/svg+xml,<svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.125 9.09961H16.4734C16.3235 7.33355 15.5538 5.67742 14.3005 4.42414C13.0472 3.17085 11.3911 2.40115 9.625 2.25117V1.59961C9.625 1.43385 9.55915 1.27488 9.44194 1.15767C9.32473 1.04046 9.16576 0.974609 9 0.974609C8.83424 0.974609 8.67527 1.04046 8.55806 1.15767C8.44085 1.27488 8.375 1.43385 8.375 1.59961V2.25117C6.60894 2.40115 4.95282 3.17085 3.69953 4.42414C2.44624 5.67742 1.67654 7.33355 1.52656 9.09961H0.875C0.70924 9.09961 0.550268 9.16546 0.433058 9.28267C0.315848 9.39988 0.25 9.55885 0.25 9.72461C0.25 9.89037 0.315848 10.0493 0.433058 10.1666C0.550268 10.2838 0.70924 10.3496 0.875 10.3496H1.52656C1.67654 12.1157 2.44624 13.7718 3.69953 15.0251C4.95282 16.2784 6.60894 17.0481 8.375 17.198V17.8496C8.375 18.0154 8.44085 18.1743 8.55806 18.2916C8.67527 18.4088 8.83424 18.4746 9 18.4746C9.16576 18.4746 9.32473 18.4088 9.44194 18.2916C9.55915 18.1743 9.625 18.0154 9.625 17.8496V17.198C11.3911 17.0481 13.0472 16.2784 14.3005 15.0251C15.5538 13.7718 16.3235 12.1157 16.4734 10.3496H17.125C17.2908 10.3496 17.4497 10.2838 17.5669 10.1666C17.6842 10.0493 17.75 9.89037 17.75 9.72461C17.75 9.55885 17.6842 9.39988 17.5669 9.28267C17.4497 9.16546 17.2908 9.09961 17.125 9.09961ZM9.625 15.9434V15.3496C9.625 15.1838 9.55915 15.0249 9.44194 14.9077C9.32473 14.7905 9.16576 14.7246 9 14.7246C8.83424 14.7246 8.67527 14.7905 8.55806 14.9077C8.44085 15.0249 8.375 15.1838 8.375 15.3496V15.9434C6.94131 15.7971 5.60196 15.1607 4.58292 14.1417C3.56388 13.1227 2.92754 11.7833 2.78125 10.3496H3.375C3.54076 10.3496 3.69973 10.2838 3.81694 10.1666C3.93415 10.0493 4 9.89037 4 9.72461C4 9.55885 3.93415 9.39988 3.81694 9.28267C3.69973 9.16546 3.54076 9.09961 3.375 9.09961H2.78125C2.92754 7.66592 3.56388 6.32657 4.58292 5.30753C5.60196 4.28849 6.94131 3.65215 8.375 3.50586V4.09961C8.375 4.26537 8.44085 4.42434 8.55806 4.54155C8.67527 4.65876 8.83424 4.72461 9 4.72461C9.16576 4.72461 9.32473 4.65876 9.44194 4.54155C9.55915 4.42434 9.625 4.26537 9.625 4.09961V3.50586C11.0587 3.65215 12.398 4.28849 13.4171 5.30753C14.4361 6.32657 15.0725 7.66592 15.2188 9.09961H14.625C14.4592 9.09961 14.3003 9.16546 14.1831 9.28267C14.0658 9.39988 14 9.55885 14 9.72461C14 9.89037 14.0658 10.0493 14.1831 10.1666C14.3003 10.2838 14.4592 10.3496 14.625 10.3496H15.2188C15.0725 11.7833 14.4361 13.1227 13.4171 14.1417C12.398 15.1607 11.0587 15.7971 9.625 15.9434ZM9 6.59961C8.38193 6.59961 7.77775 6.78289 7.26384 7.12627C6.74994 7.46965 6.3494 7.9577 6.11288 8.52872C5.87635 9.09974 5.81447 9.72808 5.93505 10.3343C6.05562 10.9405 6.35325 11.4973 6.79029 11.9343C7.22733 12.3714 7.78415 12.669 8.39034 12.7896C8.99653 12.9101 9.62487 12.8483 10.1959 12.6117C10.7669 12.3752 11.255 11.9747 11.5983 11.4608C11.9417 10.9469 12.125 10.3427 12.125 9.72461C12.125 8.89581 11.7958 8.10095 11.2097 7.5149C10.6237 6.92885 9.8288 6.59961 9 6.59961ZM9 11.5996C8.62916 11.5996 8.26665 11.4896 7.95831 11.2836C7.64996 11.0776 7.40964 10.7848 7.26773 10.4421C7.12581 10.0995 7.08868 9.72253 7.16103 9.35882C7.23337 8.9951 7.41195 8.66101 7.67417 8.39878C7.9364 8.13656 8.27049 7.95798 8.63421 7.88564C8.99792 7.81329 9.37492 7.85042 9.71753 7.99234C10.0601 8.13425 10.353 8.37457 10.559 8.68292C10.765 8.99126 10.875 9.35377 10.875 9.72461C10.875 10.2219 10.6775 10.6988 10.3258 11.0504C9.97419 11.4021 9.49728 11.5996 9 11.5996Z" fill="%23173009"/></svg>') !important;
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-in .maplibregl-ctrl-icon {
  background-image: url('data:image/svg+xml,<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5 10.7246C17.5 10.8904 17.4342 11.0493 17.3169 11.1666C17.1997 11.2838 17.0408 11.3496 16.875 11.3496H10.625V17.5996C10.625 17.7654 10.5592 17.9243 10.4419 18.0416C10.3247 18.1588 10.1658 18.2246 10 18.2246C9.83424 18.2246 9.67527 18.1588 9.55806 18.0416C9.44085 17.9243 9.375 17.7654 9.375 17.5996V11.3496H3.125C2.95924 11.3496 2.80027 11.2838 2.68306 11.1666C2.56585 11.0493 2.5 10.8904 2.5 10.7246C2.5 10.5588 2.56585 10.3999 2.68306 10.2827C2.80027 10.1655 2.95924 10.0996 3.125 10.0996H9.375V3.84961C9.375 3.68385 9.44085 3.52488 9.55806 3.40767C9.67527 3.29046 9.83424 3.22461 10 3.22461C10.1658 3.22461 10.3247 3.29046 10.4419 3.40767C10.5592 3.52488 10.625 3.68385 10.625 3.84961V10.0996H16.875C17.0408 10.0996 17.1997 10.1655 17.3169 10.2827C17.4342 10.3999 17.5 10.5588 17.5 10.7246Z" fill="%2303141B"/></svg>') !important;
}

.maplibregl-ctrl button.maplibregl-ctrl-zoom-out .maplibregl-ctrl-icon {
  background-image: url('data:image/svg+xml,<svg width="16" height="2" viewBox="0 0 16 2" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5 0.724609C15.5 0.89037 15.4342 1.04934 15.3169 1.16655C15.1997 1.28376 15.0408 1.34961 14.875 1.34961H1.125C0.95924 1.34961 0.800269 1.28376 0.683058 1.16655C0.565848 1.04934 0.5 0.89037 0.5 0.724609C0.5 0.558849 0.565848 0.399878 0.683058 0.282668C0.800269 0.165458 0.95924 0.0996094 1.125 0.0996094H14.875C15.0408 0.0996094 15.1997 0.165458 15.3169 0.282668C15.4342 0.399878 15.5 0.558849 15.5 0.724609Z" fill="%2303141B"/></svg>') !important;
}
